<div class="jumbotron">

	<h1>Home page of the app</h1>
	<p>
		To get started, just <%= link_to "push here", "http://www.bbc.co.uk/weather", class: "btn btn-primary btn-lg" %> you mo'fo.
	</p>
	<p>OR, you can <%= link_to "try this instead", "http://www.bbc.co.uk/news"%>. </p>

</div>