<div class="panel panel-default">

	<div class="panel-heading">
		<h1>Edit tin</h1>
	</div>

	<%= render 'form' %>

	<div class="panel-footer">
		<%= link_to 'Show', @tin %> |
		<%= link_to 'Back', tins_path %>
	</div>

</div>
